# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Python
__pycache__/
*.pyc
.venv-client/

# Build artifacts
*.zip
